<!DOCTYPE HTML>

<!--
	Ex Machina: A responsive HTML5 website template by HTML5Templates.com
	Released for free under the Creative Commons Attribution 3.0 license (html5templates.com/license)
	Visit http://html5templates.com for more great templates or follow us on Twitter @HTML5T
-->

<html>
<head>
<title>Gumbo!</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<noscript>
<link rel="stylesheet" href="css/5grid/core.css" />
<link rel="stylesheet" href="css/5grid/core-desktop.css" />
<link rel="stylesheet" href="css/5grid/core-1200px.css" />
<link rel="stylesheet" href="css/5grid/core-noscript.css" />
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/style-desktop.css" />
</noscript>

<link rel='stylesheet' id='camera-css'  href='css/camera.css' type='text/css' media='all'> 
    <style>

		#back_to_camera {
			clear: both;
			display: block;
			height: 80px;
			line-height: 40px;
			padding: 20px;
		}
		.fluid_container {
			margin: 0 auto;
		
		}

</style>



<!-- <script src="css/5grid/jquery.js"></script>  -->

 <script type='text/javascript' src='scripts/jquery.min.js'></script>
 <script src="http://code.jquery.com/jquery-migrate-1.1.0.js"></script>
    <script type='text/javascript' src='scripts/jquery.mobile.customized.min.js'></script>
    <script type='text/javascript' src='scripts/jquery.easing.1.3.js'></script> 
    <script type='text/javascript' src='scripts/camera.js'></script> 
    
<script src="css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none"></script>
   <script>

   
		jQuery(function(){
			
			/*
			var img = new Image(1920,1080); // width, height values are optional params 
			img.src = 'http://www.gumbo-millennium.nl/fotos/fotos/20120913%20-%20SoosAvond/IMGP1343.JPG';
			document.getElementById('imageid').setAttribute('data-src', img.src);
			document.getElementById('imageid2').setAttribute('src', img.src);
			*/
			jQuery('#camera_wrap_1').camera({
				height: '30%',
				pagination: true,
				thumbnails: false,
				imagePath: 'images/slides',
				transPeriod: 1000,
				portrait: false,
				
			});

		});
	</script>

<!--[if IE 9]><link rel="stylesheet" href="css/style-ie9.css" /><![endif]-->
</head><body class="homepage">
<div id="header-wrapper">
	<header id="header">
		<div class="5grid-layout">
			<div class="row">
				<div class="4u" id="logo">
					<h1><a href="#" class="mobileUI-site-name">Gumbo Millennium</a></h1>
					<p>.nl <a>(login) / Hallo Gerco Versloot (NyXus)</a></p>
				</div>
				<div class="8u" id="menu">
					<nav class="mobileUI-site-nav">
						<ul>
							<li class="current_page_item"><a href="index.html">Homepage</a></li>
							<li><a href="threecolumn.html">Commissies</a></li>
							<li><a href="threecolumn.html">Forum</a></li>
							<li><a href="twocolumn1.html">Gumbo Shop</a></li>
							<li><a href="twocolumn2.html">Ledenlijst</a></li>
							<li><a href="onecolumn.html">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
</div>
<div class="5grid-layout">
	<div class="row">
		<div id="banner" class="12u">
		
			<div class="fluid_container">
				<div class="camera_wrap camera_emboss" id="camera_wrap_1">
					<div data-thumb="images/slides/thumbs/Gumbo.jpg" id="imageid" data-src="images/slides/Gumbo.jpg">
						<div class="camera_caption fadeFromBottom">
							Welkom op de website van studentenvereniging Gumbo Millennium! Dubbel L Dubbel N, Dubbel genieten! Veel surfplezier gewenst!
						</div>
					</div>
					<div id=" class="slider_content" data-thumb="images/slides/IMGP1343.png" data-src="images/slides/IMGP1343.png">
						<div class="camera_caption fadeFromBottom">
							<h2>ALV 25-01-2013 Afgelast (ongelezen)</h2>
							<p>Recentelijk hebben alle leden een brief thuis gehad met een uitnodiging voor een ALV op 25 januari 2013.</p>
							
						</div>
					</div>
					<div class="slider_content" data-thumb="http://www.gumbo-millennium.nl/fotos/fotos/20120913%20-%20SoosAvond/IMGP1382.JPG" data-src="http://www.gumbo-millennium.nl/fotos/fotos/20120913%20-%20SoosAvond/IMGP1382.JPG">
						<div class="camera_caption fadeFromBottom">
							It uses a light version of jQuery mobile, <em>navigate the slides by swiping with your fingers</em>
							<img src="http://farm5.static.flickr.com/4062/4302354579_2a16dcb3cd_o.jpg" alt="Eddie" class="eddie" />
						</div>
					</div>
					<div data-thumb="images/slides/thumbs/road.jpg" data-src="images/slides/road.jpg">
						<div class="camera_caption fadeFromBottom">
							<em>It's completely free</em> (even if a donation is appreciated)
						</div>
					</div>
					<div data-thumb="images/slides/thumbs/sea.jpg" data-src="images/slides/sea.jpg">
						<div class="camera_caption fadeFromBottom">
							Camera slideshow provides many options <em>to customize your project</em> as more as possible
						</div>
					</div>
					<div data-thumb="images/slides/thumbs/shelter.jpg" data-src="images/slides/shelter.jpg">
						<div class="camera_caption fadeFromBottom">
							It supports captions, HTML elements and videos and <em>it's validated in HTML5</em> (<a href="http://validator.w3.org/check?uri=http%3A%2F%2Fwww.pixedelic.com%2Fplugins%2Fcamera%2F&amp;charset=%28detect+automatically%29&amp;doctype=Inline&amp;group=0&amp;user-agent=W3C_Validator%2F1.2" target="_blank">have a look</a>)
						</div>
					</div>
					<div data-thumb="images/slides/thumbs/tree.jpg" data-src="images/slides/tree.jpg">
						<div class="camera_caption fadeFromBottom">
							Different color skins and layouts available, <em>fullscreen ready too</em>
						</div>
					</div>
				</div><!-- #camera_wrap_1 -->
			</div> 
			
		</div>
	</div>
</div>
<div id="wrapper">
	<div id="page">
		<div class="5grid-layout">
			<div class="row">
				<div class="6u">
					<div class="mobileUI-main-content" id="content">
						<section>
							<div class="post">
								<h2>ALV 25-01-2013 Afgelast (ongelezen)</h2>
								<p class="subtitle">Augue praesent a lacus at urna congue rutrum</p>
								<p><a href="#"><img src="images/pics03.jpg" alt="" id="imageid2"></a>
									Recentelijk hebben alle leden een brief thuis gehad met een uitnodiging voor een ALV op 25 januari 2013. 
									Tijdens deze ALV zou er gesproken en gestemd worden over de financiele boeken van het jaar 2011-2012. 

									Echter heeft door een gebrek aan tijd de KasCie niet naar de boeken kunnen kijken en er dus geen oordeel over kunnen vellen. 
									Dit betekend dat de op 25 januari geplande ALV niet door gaat. 

									Er zal zo spoedig mogelijk een nieuwe datum geprikt worden om het alsnog over de boeken te hebben. Hier zullen jullie natuurlijk weer een uitnodiging per brief voor krijgen. 

									Met vriendelijke groet, 
									Het Bestuur 
									</p>
								<p class="button-style2"><a href="#">Lees meer</a></p>
							</div>
						</section>
					</div>
				</div>
				<div class="3u" id="sidebar1">
					<section>
						<h2>Links</h2>
						<ul class="style2">
							<li class="first">
								<p><a href="#"><img src="images/pics07.jpg" alt="">Hier het laaste forum bericht</a></p>
							</li>
							<li>
								<p><a href="#"><img src="images/pics08.jpg" alt="">Hier nog een twitter bericht ofzo</a></p>
							</li>
							<li>
								<h2>PlazaCAM</h2>
								<a href="#"><img src="http://www.gumbocam.nl/capture1.jpg" class="gumbo_cam_img" alt="">
							</li>
						</ul>
					</section>
				</div>
				<div class="3u">
					<div id="sidebar2">
						<section>
							<div class="sbox1">
								<a href="#"><h2>Activiteiten</h2></a>
								<ul class="style1">
									<li class="first"><a href="#">Poolkampionschap </a><div class="date">Sat 03 Nov 2012, 20:40</div></li>
									<li><a href="#">Falentijnsparty </a><div class="date">Sat 03 Nov 2012, 20:40</div></li>
									<li><a href="#">Opendag Windesheim <div class="date">Sat 03 Nov 2012, 20:40</a></div></li>
									<li><a href="#">Dit is echt een veel te langen titel voor een activiteit maar het is omdat het kan </a><div class="date">Sat 03 Nov 2012, 20:40</div></li>
									<li><a href="#">LHW 2013 </a><div class="date">Sat 03 Nov 2012, 20:40</div></li>
								</ul>
							</div>
						</section>
						<section>
							<div class="sbox2">
								<a href="#"><h2>Nieuws</h2></a>
								<ul class="style1">
									<li class="first"><a href="#">ALV 25-01-2013 Afgelast </a><div class="date">Sat 03 Nov 2012, 20:40</div></li>
									<li><a href="#">Fotoverslag 20121123 - Magic The  </a><div class="date">Sat 03 Nov 2012, 20:40</div></li>
									<li><a href="#">Fotoverslag 20120913 - SoosAvond</a><div class="date">Sat 03 Nov 2012, 20:40</div></li>
									<li><a href="#">Notulen online tussentijdse ALV </a><div class="date">Sat 03 Nov 2012, 20:40</div></li>
									<li><a href="#">Net als een activiteit is voor dit nieuws een veel te lange titel bedacht maar toch vind ik het leuk </a><div class="date">Sat 03 Nov 2012, 20:40</div></li>
								</ul>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="featured-area">
	<div class="5grid-layout">
		<div class="row divider">
			<div class="4u">
				<section>
					<div class="box-style"> <a href="#"><img src="images/pics04.jpg" alt=""></a>
						<h3>Sponsor 1</h3>
						<p>Donec nonummy magna quis risus. Quisque eleifend. </p>
						<p class="button-style2"><a href="#">More</a></p>
					</div>
				</section>
			</div>
			<div class="4u">
				<section>
					<div class="box-style"> <a href="#"><img src="images/pics06.jpg" alt=""></a>
						<h3>Sponsor 2</h3>
						<p>Donec nonummy magna quis risus. Quisque eleifend. </p>
						<p class="button-style2"><a href="#">More</a></p>
					</div>
				</section>
			</div>
			<div class="4u">
				<section>
					<div class="box-style"> <a href="#"><img src="images/pics05.jpg" alt=""></a>
						<h3>Sponsor 3</h3>
						<p>Donec nonummy magna quis risus. Quisque eleifend. </p>
						<p class="button-style2"><a href="#">More</a></p>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
<div id="footer-wrapper">
	<div class="5grid-layout">
		<div class="row" id="footer-content">
			<div class="3u" id="box1">
				<section>
					<h2>Maecenas luctus lectus</h2>
					<div class="balloon">
						<blockquote>&ldquo;&nbsp;&nbsp;Donec leo, vivamus ullamcorper fermentum nibh in augue pulvinar ullamcorper metus praesent a lacus at urna congue ullamcorper  rutrum.&nbsp;&nbsp;&rdquo;<br>
							<br>
							<strong>&ndash;&nbsp;&nbsp;John Smith</strong></blockquote>
					</div>
					<div class="ballon-bgbtm">&nbsp;</div>
					<p></p>
				</section>
			</div>
			<div class="3u" id="box2">
				<section>
					<h2>Donec dictum metus</h2>
					<ul class="style6">
						<li class="first">
							<h3>Mauris vulputate dolor sit amet</h3>
							<p><a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</a></p>
						</li>
						<li>
							<h3>Fusce ultrices fringilla metus</h3>
							<p><a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</a></p>
						</li>
						<li>
							<h3>Donec dictum metus in sapien</h3>
							<p><a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</a></p>
						</li>
					</ul>
				</section>
			</div>
			<div class="3u" id="box3">
				<section>
					<h2>Nulla luctus eleifend</h2>
					<ul class="style5">
						<li><a href="#"><img src="images/pics07.jpg" alt=""></a></li>
						<li><a href="#"><img src="images/pics08.jpg" alt=""></a></li>
						<li><a href="#"><img src="images/pics09.jpg" alt=""></a></li>
						<li><a href="#"><img src="images/pics10.jpg" alt=""></a></li>
						<li><a href="#"><img src="images/pics11.jpg" alt=""></a></li>
						<li><a href="#"><img src="images/pics12.jpg" alt=""></a></li>
					</ul>
					<p class="button-style2"><a href="#">More Collections</a></p>
				</section>
			</div>
			<div class="3u" id="box4">
				<section>
					<h2>Nulla luctus eleifend</h2>
					<p><strong>Aliquam erat volutpat. Pellentesque tristique ante ut risus. </strong></p>
					<p>&nbsp;</p>
					<p>Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. </p>
					<p>&nbsp;</p>
					<p>Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat.</p>
				</section>
			</div>
		</div>
	</div>
</div>
<div>
	<div class="5grid-layout" id="copyright">
		<div class="row">
			<div class="12u">
				<p>&copy; Your Site Name | Images: <a href="http://fotogrph.com/">Fotogrph</a> | Design: <a href="http://html5templates.com/">HTML5Templates.com</a></p>
			</div>
		</div>
	</div>
</div>
</body>
</html>