<!-- IF INTRO_POST_AVAILABLE -->
<li class="entry blog-entry-list full-screen {$MODULE_ID} start" >
	<article class="clearfix">
		<div id="footer-featured">
        <div class="container clearfix">
            <div class="three-fourths">
                <a href="{P_INTRO_LINK}"><h1>{P_INTRO_TITEL}</h1></a>
                <p>{P_INTRO_TEXT}</p>
            </div>
            <div class="one-fourth column-last">
                <a class="entry-image" href="{P_INTRO_LINK}" title="introweek"><img src="{P_INTRO_IMAGE_URL}" alt="intro image"></a>
            </div>
        </div>
    </div>
	</article>
</li>
<!-- ENDIF -->
