<!-- begin content -->
<!-- BEGIN news_row -->

<li class="entry blog-entry-list one-half {$MODULE_ID}  <!-- IF news_row.S_FIRST_ROW --> start" <!-- ELSE --> isotope-hidden"  style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(240px, 0px) scale(0.001, 0.001); opacity: 0;" <!-- ENDIF --> >

    <article class="clearfix">


       <!-- IF news_row.IMAGES_AVAILABLE -->
            <!-- IF .news_row.imgs > 1 -->
                <!-- begin entry slider -->
                <div class="entry-slider">
                    <div id="flexslider-portfolio-item" class="flex-container">
                        <div class="flexslider">
                            <ul class="slides">
                                <!-- BEGIN imgs -->
                                <li><a class="entry-image image-block link-overlay" href="{news_row.U_VIEW_COMMENTS}" title="{news_row.TITLE}"><span class="overlay"></span><img src="{news_row.imgs.URL}" alt="{news_row.TITLE}"></a></li>
                                <!-- END imgs -->
                            </ul>
                        </div>
                    </div>
                </div>  
                <!-- end entry slider -->
            <!-- ELSE -->
                <!-- BEGIN imgs -->
                    <center><a class="entry-image image-block link-overlay" href="{news_row.U_VIEW_COMMENTS}" title="{news_row.TITLE}"><span class="overlay"></span><img src="{news_row.imgs.URL}" alt="{news_row.TITLE}"></a></center>
                <!-- END imgs -->
            <!-- ENDIF -->
        <!-- ENDIF -->


         <h2 class="entry-title"><a href="{news_row.U_VIEW_COMMENTS}">{news_row.TITLE}</a></h2>
        <blockquote class="speech-bubble">
            <div class="quote-content">
                <p>{news_row.TEXT}</p>
                <span class="quote-arrow"></span>
            </div>
            <div class="quote-meta author-male"><strong>{news_row.POSTER}</strong>, Bestuur<br>
                <div class="entry-meta">
                    <span class="category"><a href="{news_row.U_VIEWFORUM}">{news_row.FORUM_NAME}</a></span>
                    <span class="comments"><a href="{news_row.U_VIEW_COMMENTS}">{news_row.REPLIES}</a></span>
                </div>
            </div>
        </blockquote>
        <div class="arrow-box-hover"></div>
    </article>
</li>
<!-- END news_row -->