<script type="text/javascript">
// <![CDATA[
function init_highchars() {
	jQuery(document).ready(function ($) { 
		$("#poll_table td").click(function(event) {
			$(this).parent("table").children('input').removeAttr("selected");
			$(this).children('input').attr('checked', 'checked');
		});

	});

}


// ]]>


onload_functions.push('init_highchars()');
</script>

<script type="text/javascript">
	var data =[
		['Answer', 'amount'],
		<!-- BEGIN poll(0,0) -->
			<!-- BEGIN poll_option -->
				['{poll_option.POLL_OPTION_CAPTION}', {poll_option.POLL_OPTION_RESULT}],
			<!-- END poll_option -->
		<!-- END poll -->
	];
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

	var data = google.visualization.arrayToDataTable(data );

	var options = {
	  pieHole: 0.4,
	   width: '100%',
        height: '100%',
        pieSliceText: 'value',
	  legend: { position: 'right' },
	  chartArea: {
            left: "3%",
            top: "3%",
            height: "94%",
            width: "94%"
        }
	};

	var chart = new google.visualization.PieChart(document.getElementById('{$MODULE_ID}_donutchart'));

	chart.draw(data, options);
	/*
	google.visualization.events.addListener(chart, 'select', selectHandler);

	function selectHandler(e) {
	  alert('A table row was selected');
	}
	*/
}
</script>

<!-- IF S_HAS_POLL -->
<li class="entry one-half {$MODULE_ID} start">
	<section>
		<h2>{$TITLE}</h2>
		<!-- BEGIN poll(0,0) -->
		<!-- IF poll.S_CAN_VOTE -->
		<div class="tabs">
            <ul class="tabs-nav clearfix">
                <li><a href="#{$MODULE_ID}_question">{poll.POLL_QUESTION}</a></li>
                <li><a href="#{$MODULE_ID}_result">Result</a></li>
            </ul>
            <div id="{$MODULE_ID}_question" class="tab">
                <form method="post" action="{poll.S_POLL_ACTION}">
				    <table id="poll_table" class="gen-table">
				        <caption>
				        {poll.POLL_QUESTION}
				        </caption>
				           <tfoot>
				            <tr>
				                <td>
				                    <input type="submit" name="update" value="{L_SUBMIT_VOTE}" class="button" />
				                </td>
				            </tr>
				        </tfoot>
				        <tbody>
				            <!-- BEGIN poll_option -->
				            <tr>
				                <td>
				                    <!-- IF poll.S_IS_MULTI_CHOICE -->
				                        <input 
				                            type="checkbox"  
				                            name="vote_id[]" 
				                            id="poll_{poll.TOPIC_ID}_vote_{poll.poll_option.POLL_OPTION_ID}" 
				                            value="{poll.poll_option.POLL_OPTION_ID}"
				                            <!-- IF poll.poll_option.POLL_OPTION_VOTED --> 
				                                checked="checked"
				                            <!-- ENDIF --> 
				                        >
				                    <!-- ELSE -->
				                        <input type="radio" 
				                            name="vote_id[]" 
				                            id="poll_{poll.TOPIC_ID}_vote_{poll.poll_option.POLL_OPTION_ID}" 
				                            value="{poll.poll_option.POLL_OPTION_ID}"
				                            <!-- IF poll.poll_option.POLL_OPTION_VOTED --> 
				                                checked="checked"
				                            <!-- ENDIF --> 
				                        >   
				                    <!-- ENDIF -->
				                    <label for="poll_{poll.TOPIC_ID}_vote_{poll.poll_option.POLL_OPTION_ID}">
				                        {poll.poll_option.POLL_OPTION_CAPTION}
				                    </label>
				                </td>
				            </tr>
				            <!-- END poll_option -->

				        </tbody>
				    </table>
				    {poll.S_HIDDEN_FIELDS}
				</form>
            </div>
            
            <div id="{$MODULE_ID}_result" class="tab">
                <!-- IF poll.S_DISPLAY_RESULTS -->
					<div id="{$MODULE_ID}_donutchart"></div>
				<!-- ENDIF -->
            </div>
        </div>

		
		<!-- ENDIF -->

			
		<!-- ENDIF -->

		<!-- IF S_HAS_POLL -->
			<!-- IF poll.S_DISPLAY_RESULTS -->
				<h3>{poll.POLL_QUESTION}</h3>
				<div id="{$MODULE_ID}_donutchart"></div>
			<!-- ENDIF -->
		<!-- ENDIF -->	

		<!-- END poll -->
		
		
		
		<div class="clear"></div>
	</section>
</li>