
<!-- INCLUDE overall_header.html -->
<div class="clear"></div>
<!-- IF IS_MANAGER -->
<div class="navbar">
	<div class="inner"><span class="corners-top"><span></span></span>

	<ul class="linklist">
		<li><a href="{OVERVIEW_URL}" >{OVERVIEW_NAME}</a> &#8226; </li>
		<!-- IF IS_PAST -->
			<li><a href="{RECYLCLE_URL}" >{RECYLCLE_NAME}</a> &#8226; </li>
		<!-- ELSE -->
			<li><a href="{EDIT_URL}" >{EDIT_NAME}</a> &#8226; </li>
		<!-- ENDIF -->
		<li><a href="{SUBSCRIBE_URL}" >{SUBSCRIBE_NAME}</a></li>
		</ul>

	<span class="corners-bottom"><span></span></span></div>
</div>
</div>
<!-- ENDIF -->
<div id="p1" class="post bg2">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<div class="postbody">
			<h3 class="first"><a href="#p2">{TITLE}</a></h3>
			<div class="content">
				{DESCRIPTION}
			</div>
		</div>
	
		<dl class="postprofile" id="profile2">
			<dt>
				<strong>{LANG_DATE}:</strong>
			</dt>
				<dd>{START_DATE_TIME}</dd>
				<dd>{LANG_TILL}</dd>
				<dd>{END_DATE_TIME}</dd>
			<dt>&nbsp;</dt>
			
			<dt>
				<strong>{LANG_PRICE}:</strong>
			</dt>
				<dd>&#8364;{PRICE}</dd>	
				<dt>&nbsp;</dt>
			<dt><strong>{LANG_PRICE} {LANG_MEMBER}:</strong></dt>
				<dd>&#8364;{PRICE_MEMBER}</dd>	
			
			<dt>&nbsp;</dt>
			<dt><strong>{LANG_LOCATION}:</strong></dt>
				<dd>{LOCATION}</dd>	
				
			<dt>&nbsp;</dt>
			
			<dt><strong>{LANG_ENROLL_FORCE}:</strong></dt>
			<!-- IF ENROLL -->
					<dd>{LANG_YES}</dd>
				<dt>&nbsp;</dt>
				<dt><strong>{LANG_SIGN_UPS_LEFT}:</strong></dt>
						<dd>{U_SIGN_UPS_LEFT}</dd>
				<dt>&nbsp;</dt>
				<dt><strong>{LANG_ENROLL_TIME}:</strong></dt>
						<dd>{ENROLL_DATE}</dd>
				<dt>&nbsp;</dt>
				<dt><strong>{LANG_UNSUBSCRIPTIONS}:</strong></dt>
					<dd>{UNSUBSCRIBE_MAX_DATETIME}</dd>	
			<!-- ELSE -->
				<dd>{LANG_NO}</dd>
			<!-- ENDIF -->
			<dt>&nbsp;</dt>
		</dl>
		<div class="back2top"><a href="#wrap" class="top" title="Top">Top</a></div>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>

<hr class="divider" />

<div id="p2" class="post bg1">
	<div class="inner"><span class="corners-top"><span></span></span>

	<div class="postbody">
		<h3 ><a href="#p3">{LANG_ENROLLS}</a></h3>
		<div class="content">
			<!-- IF USERS_ENROLLED_CHECK -->
			{LANG_ENROLL_AMOUNT}: {USERS_ENROLLED_AMOUNT}
			<div id="activity_enrolled_wapper">
				<div id="activity_enrolled_block">
					<dl  id="enroll_list">
						 <!-- BEGIN users_enrolled -->
						<dt>
							<a href="{users_enrolled.USER_LINK}">{users_enrolled.USER_NAME} </a>
						</dt>
						<!-- END users_enrolled -->
					</dl>
				</div>
			</div>
			<!-- ELSE -->
				{LANG_ENROLL_NOBODY}
			<!-- ENDIF -->
		</div>
	</div>
	<dl class="postprofile" id="profile2">
	<dt><h3><strong>{LANG_SUBSCRIPTIONS}:</strong></h3></dt>
	<form action="{URL_CLEAN}" method="POST">
	{S_FORM_TOKEN}
	<!-- IF ENROLL && USER_ENROLLED_CHECK && S_USER_LOGGED_IN --> 
                                <!-- IF UNSUBSCRIBE_DATE_CHECK && ENROLL_DATE_CHECK && not ENROLL_MAX && CHANGE == FALSE -->
                                    <a class="button large right" href="{URL_CHANGE_STATUS}">{LANG_CHANGE}</a>
                                <!-- ENDIF -->

                                <!-- IF ENROLL_DATE_CHECK && not ENROLL_MAX && CHANGE == true -->
                                    <button name="status"  class="button large right" type="submit" value="1"> {LANG_SUBSCRIBE}</button>
                                   
                                <!-- ENDIF -->
                                <!-- IF UNSUBSCRIBE_DATE_CHECK  && CHANGE == true -->
                                    <button name="status"  class="button large black right" type="submit" value="2"> {LANG_UNSUBSCRIBE} </button>
                                <!-- ENDIF -->
                            <!-- ELSEIF not USER_ENROLLED_CHECK && ENROLL_DATE_CHECK && S_USER_LOGGED_IN -->
                                 <button name="status" type="submit" class="button large" value="1"><h3>{LANG_SUBSCRIBE}</h3></button>
                            <!-- ENDIF -->
                            <div class="with-button">
                            <!-- IF EVENT_FINISHED -->
                                    <h2>{LANG_EVENT_FINISHED}</h2>
                                    <p>{LANG_ENROLL_CLOSED}</p>
                                    <!-- IF USER_ENROLLED_CHECK and PRICE  > 0 -->
                                        <p>{LANG_AMOUNT} {LANG_PAID}: &#8364;{USER_ENROLLED_PAID}</p>
                                    <!-- ENDIF -->
                            <!-- ELSE -->
                                <!-- IF not ENROLL -->
                                    <h2>{LANG_NO_LOGIN_NEEDED}</h2>
                                <!-- ELSEIF not IS_ACTIVE -->
                                    <h2>{LANG_ENROLL_CLOSED}</h2>
                                    <p>{LANG_NOT_ACTIVE}</p>
                                <!-- ELSEIF IS_ENROLL_MAX and not USER_ENROLLED_CHECK -->
                                    <h2>{LANG_ENROLL_CLOSED}</h2>
                                    <p>{LANG_ENROLL_AMOUNT_MAX}</p>
                                <!-- ELSEIF not ENROLL_DATE_CHECK and not USER_ENROLLED_CHECK -->
                                    <h2>{LANG_ENROLL_CLOSED}</h2>
                                    <p>{LANG_ENROLL_DATETIME_OVER}</p>
                                <!-- ELSEIF not S_USER_LOGGED_IN and not USER_ENROLLED_CHECK -->
                                    <a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT} {LANG_TO} {LANG_SUBSCRIBE}</a>
                                <!-- ELSEIF USER_ENROLLED_CHECK -->
                                        <h2>{USER_ENROLLED_TEXT}</h2>
                                        <p>{LANG_UNSUBSCRIPTIONS}: {UNSUBSCRIBE_MAX_DATETIME}</p>
                                        <!-- IF PRICE  > 0-->
                                        <p>{LANG_AMOUNT} {LANG_PAID}: &#8364;{USER_ENROLLED_PAID}</p>
                                        <!-- ENDIF -->
                                <!-- ELSE -->
                                    <p>{LANG_ENROLL_TIME}: {ENROLL_DATE}</p>
                                    <p>{LANG_SIGN_UPS_LEFT}: {U_SIGN_UPS_LEFT}</p>
                                <!-- ENDIF -->
                            <!-- ENDIF -->
	</form>
	</dl>
	<div class="back2top"><a href="#wrap" class="top" title="Top">Top</a></div>
	<span class="corners-bottom"><span></span></span></div>
</div>
<div>

<!-- INCLUDE overall_footer.html -->