<!-- INCLUDE overall_header.html -->

<!-- IF LIST_AVAILABLE -->




		<div class="forumbg">
		<div class="inner"><span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dt>Events</dt>
					<dd class="posts"></dd>
					<dd class="views">aantal ingescheven</dd>
					<dd class="lastpost"><span>Start datum</span></dd>
				</dl>
			</li>
		</ul>
		<!-- BEGIN activity -->
			<ul class="topiclist topics">
			<li class="row<!-- IF activity.S_ROW_COUNT is even -->bg1<!-- ELSE --> bg2<!-- ENDIF -->">
				<dl class="icon" style="background-image: url({topicrow.TOPIC_FOLDER_IMG_SRC}); background-repeat: no-repeat;">
					<dt style="background-image: url({T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}); background-repeat: no-repeat;" title="No unread posts">
					
					
					<!-- IF activity.READED -->
						<a href="{activity.ACT_LINK}" class="topictitle">{activity.NAME}</a>
					<!-- ELSE --> 
						<a href="{activity.ACT_LINK}" class="topictitle"><h5>{activity.NAME}</h5></a>
					<!-- ENDIF -->
					<br>Door: <div class="username-coloured" style="color: #AA0000;">{activity.COMMISSION}</div>

					</dt>
					<dd class="posts"> </dd>
					<dd class="views">{activity.ENROLLED}</dd>
					<dd class="lastpost"><span>{activity.START_DATE_TIME}</span>
					</dd>
				</dl>
			</li>
			</ul>
		<!-- END activity -->
		<span class="corners-bottom"><span></span></span></div>
	</div>
	
	
<!-- ELSE -->
	Geen lijst beschikbaar <br />
<!-- ENDIF -->

<!-- IF S_USER_LOGGED_IN -->
	 <a href="{URL_ICAL}" > <img src="http://kigkonsult.se/iCalcreator/images/icalCalendar.png" alt="ical"> {LANG_ICAL} </a>
	<br>
	{LANG_ICAL_EXPLAIN}

<!-- ELSE -->
 <a href="{URL_ICAL}" > <img src="http://kigkonsult.se/iCalcreator/images/icalCalendar.png" alt="ical"> </a>

<!-- ENDIF -->
<!-- INCLUDE overall_footer.html -->