<!-- INCLUDE overall_header.html -->
	
	<!-- begin content -->
	<section id="content">
		<div class="container clearfix">
			<!-- begin sociëteit -->
			<section>
				<h2>{MESSAGE_TITLE}</h2>
				<div class="entry-slider alignleft inline-slider">
					<div id="flexslider-about-us" class="flex-container">
						<div class="flexslider">
							<ul class="slides">
								<!-- BEGIN images -->
								<li>
									<img src="{images.IMAGE}" alt="">
								</li>
								<!-- END images -->
							</ul>
						</div>
					</div>
				</div>
				<p>
					{MESSAGE_TEXT}
				</p>
			</section>
			<!-- end sociëteit -->
		</div>
	</section>
	<!-- end content -->

<!-- INCLUDE overall_footer.html -->