<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}" xml:lang="{S_USER_LANG}">

<!-- DEFINE $S_IN_PORTAL = 1 -->

<!-- INCLUDE portal/_block_config.html -->
<!--
	Ex Machina: A responsive HTML5 website template by HTML5Templates.com
	Released for free under the Creative Commons Attribution 3.0 license (html5templates.com/license)
	Visit http://html5templates.com for more great templates or follow us on Twitter @HTML5T
-->

<html>
<head>
<title>Gumbo test hoofdpagina</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" href="{T_THEME_PATH}/5grid/core.css" />
<link rel="stylesheet" href="{T_THEME_PATH}/5grid/core-desktop.css" />
<link rel="stylesheet" href="{T_THEME_PATH}/5grid/core-1200px.css" />
<link rel="stylesheet" href="{T_THEME_PATH}/5grid/core-noscript.css" />
<link rel="stylesheet" href="{T_THEME_PATH}/style.css" />
<link rel="stylesheet" href="{T_THEME_PATH}/style-desktop.css" />

<script src="{T_THEME_PATH}/5grid/jquery.js"></script>
<script src="{T_THEME_PATH}/theme/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none"></script>
<!--[if IE 9]><link rel="stylesheet" href="{T_THEME_PATH}/theme/style-ie9.css" /><![endif]-->
</head><body class="homepage">

<div id="header-wrapper">
	<header id="header">
		<div class="5grid-layout">
			<div class="row">
				<div class="4u" id="logo">
					<h1><a href="#" class="mobileUI-site-name">Ex Machina</a></h1>
					<p>by HTML5Templates.com</p>
				</div>
				<div class="8u" id="menu">
					<nav class="mobileUI-site-nav">
						<ul>
							<li class="current_page_item"><a href="index.html">Homepage</a></li>
							<li><a href="threecolumn.html">Three Column</a></li>
							<li><a href="twocolumn1.html">Two Column #1</a></li>
							<li><a href="twocolumn2.html">Two Column #2</a></li>
							<li><a href="onecolumn.html">One Column</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
</div>
<div id="wrapper">
<!-- [+] center module area -->
		<!-- IF S_CENTER_COLUMN -->
		
			<!-- BEGIN modules_center -->
			<div id="page">
				<!-- DEFINE $TEMPLATE_FILE = '{modules_center.TEMPLATE_FILE}' -->
				<!-- DEFINE $IMAGE_SRC = '{modules_center.IMAGE_SRC}' -->
				<!-- DEFINE $IMAGE_WIDTH = '{modules_center.IMAGE_WIDTH}' -->
				<!-- DEFINE $IMAGE_HEIGHT = '{modules_center.IMAGE_HEIGHT}' -->
				<!-- DEFINE $CUSTOM_CODE = '{modules_center.CODE}' -->
				<!-- DEFINE $TITLE = '{modules_center.TITLE}' -->
				<!-- DEFINE $MODULE_ID = '{modules_center.MODULE_ID}' -->
				<!-- INCLUDE {$TEMPLATE_FILE} -->
			</div>
			<!-- END modules_center -->
			<!-- IF S_DISPLAY_JUMPBOX and B3P_DISPLAY_JUMPBOX -->
				<br />
				<!-- INCLUDE portal/modules/jumpbox.html -->
			<!-- ENDIF -->
		<!-- ENDIF -->
	<!-- [-] center module area -->
</div>
<div id="footer-wrapper">
	<div class="5grid-layout">
		<div class="row" id="footer-content">
			<div class="3u" id="box1">
				<section>
					<h2>Maecenas luctus lectus</h2>
					<div class="balloon">
						<blockquote>&ldquo;&nbsp;&nbsp;Donec leo, vivamus ullamcorper fermentum nibh in augue pulvinar ullamcorper metus praesent a lacus at urna congue ullamcorper  rutrum.&nbsp;&nbsp;&rdquo;<br>
							<br>
							<strong>&ndash;&nbsp;&nbsp;John Smith</strong></blockquote>
					</div>
					<div class="ballon-bgbtm">&nbsp;</div>
					<p></p>
				</section>
			</div>
			<div class="3u" id="box2">
				<section>
					<h2>Donec dictum metus</h2>
					<ul class="style6">
						<li class="first">
							<h3>Mauris vulputate dolor sit amet</h3>
							<p><a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</a></p>
						</li>
						<li>
							<h3>Fusce ultrices fringilla metus</h3>
							<p><a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</a></p>
						</li>
						<li>
							<h3>Donec dictum metus in sapien</h3>
							<p><a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</a></p>
						</li>
					</ul>
				</section>
			</div>
			<div class="3u" id="box3">
				<section>
					<h2>Nulla luctus eleifend</h2>
					<ul class="style5">
						<li><a href="#"><img src="{T_IMAGESET_PATH}/pics07.jpg" alt=""></a></li>
						<li><a href="#"><img src="{T_IMAGESET_PATH}/pics08.jpg" alt=""></a></li>
						<li><a href="#"><img src="{T_IMAGESET_PATH}/pics09.jpg" alt=""></a></li>
						<li><a href="#"><img src="{T_IMAGESET_PATH}/pics10.jpg" alt=""></a></li>
						<li><a href="#"><img src="{T_IMAGESET_PATH}/pics11.jpg" alt=""></a></li>
						<li><a href="#"><img src="{T_IMAGESET_PATH}/pics12.jpg" alt=""></a></li>
					</ul>
					<p class="button-style2"><a href="#">More Collections</a></p>
				</section>
			</div>
			<div class="3u" id="box4">
				<section>
					<h2>Nulla luctus eleifend</h2>
					<p><strong>Aliquam erat volutpat. Pellentesque tristique ante ut risus. </strong></p>
					<p>&nbsp;</p>
					<p>Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. </p>
					<p>&nbsp;</p>
					<p>Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat.</p>
				</section>
			</div>
		</div>
	</div>
</div>
<div>
	<div class="5grid-layout" id="copyright">
		<div class="row">
			<div class="12u">
				<p>&copy; Your Site Name | Images: <a href="http://fotogrph.com/">Fotogrph</a> | Design: <a href="http://html5templates.com/">HTML5Templates.com</a></p>
			</div>
		</div>
	</div>
</div>
</body>
</html>