@charset "utf-8";
/* CSS Document */


/* ---------------------------------------------------------------------- */
/* Theme Information
/* ----------------------------------------------------------------------
Name: Inceptio
Description: Responsive Multi-Purpose Theme
Version: 1.6.1
Author: Ixtendo
Author URI: http://www.ixtendo.com
------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* Inceptio IE Styles
/* ----------------------------------------------------------------------
TABLE OF CONTENTS

-IE8 Styles
------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------- */
/* IE8 Styles
/* ---------------------------------------------------------------------- */

/* FlexSlider - Home Slider & Entry Slider */

.ie8 .flex-caption h1, .ie8 .flex-caption > div {
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000)"; /* IE8 */       
	zoom: 1;
}

.ie8 .flex-direction-nav a:link, .ie8 .flex-direction-nav a:visited {
	background-color: #000;
	filter: alpha(opacity=60);
}

.ie8 #flexslider-home.flex-container .flex-direction-nav {
	filter: alpha(opacity=0);	
}

.ie8 #flexslider-home.flex-container:hover .flex-direction-nav,
.ie8 .flex-direction-nav a:hover, .ie8 .flex-direction-nav a:active {
	filter: alpha(opacity=100);	
}

.ie8 .flex-direction-nav a.flex-disabled:link, .ie8 .flex-direction-nav a.flex-disabled:visited, 
.ie8 .flex-direction-nav a.flex-disabled:hover, .ie8 .flex-direction-nav a.flex-disabled:active {
	background-color: #000;
	filter: alpha(opacity=60);
}

/* Scroll to Top */

.ie8 #toTopHover {
	filter: alpha(opacity=0);	
}

/* Overlay */

.ie8 .overlay {
	background: transparent no-repeat center center;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFFFF,endColorstr=#66FFFFFF)"; /* IE8 */      
	zoom: 1;
}

.ie8 .isotope-image li .overlay,
.ie8 .lightbox .overlay,
.ie8 .lightbox-video .overlay,
.ie8 .link-overlay .overlay {
	filter: alpha(opacity=0);
}

.ie8 .isotope-image li:hover .overlay,
.ie8 .lightbox:hover .overlay,
.ie8 .lightbox-video:hover .overlay,
.ie8 .link-overlay:hover .overlay {
	filter: alpha(opacity=100); 
}

/* Revolution Slider */

.ie8 .tp-bullets {
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000)"; /* IE8 */       
	zoom: 1;
}

.ie8 .tp-leftarrow.default, .ie8 .tp-rightarrow.default {
	filter: alpha(opacity=0);
}

.ie8 .fullwidthbanner-container:hover .tp-leftarrow.default, .ie8 .fullwidthbanner-container:hover .tp-rightarrow.default {
	background-color: #000;
	filter: alpha(opacity=60);
}

.ie8 .fullwidthbanner-container .tp-leftarrow.default:hover, .ie8 .fullwidthbanner-container .tp-rightarrow.default:hover {
	filter: alpha(opacity=100);	
}

/* Image with Inner Caption */

.entry-image.inner-caption > div {
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000)"; /* IE8 */       
	zoom: 1;
}

/* Arrow Box Hover */

.arrow-box-hover {
	filter: alpha(opacity=0); 
}

.iconbox a:hover .arrow-box-hover,
.isotope-image li:hover .arrow-box-hover {
	filter: alpha(opacity=100);
}