@charset "utf-8";
/* CSS Document */


/* ---------------------------------------------------------------------- */
/* Theme Information
/* ----------------------------------------------------------------------
Name: Inceptio
Description: Responsive Multi-Purpose Theme
Version: 1.6.1
Author: Ixtendo
Author URI: http://www.ixtendo.com
------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* Inceptio Revolution Slider Styles
/* ----------------------------------------------------------------------
TABLE OF CONTENTS

-Captions 
-Navigation
-Arrows
------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* Captions
/* ---------------------------------------------------------------------- */
.tp-caption.big {
	font-size: 2.5em; /* 30px */
	line-height: 1.266em; /* 38px/30px */
	letter-spacing: -0.02em;
	padding: 5px 15px;	
}

.tp-caption.small {
	padding: 4px 15px;	
	font-size: 1.333em; /* 16px */
	line-height: 1.375em; /* 22px/16px */
}

/* Colors */

.tp-caption.black {
	color: #fff;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.75);
	background-color: #1a1a1a;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}

.tp-caption.white {
	background-color: #fff;
	opacity:0.9;
	filter:alpha(opacity=90); /* For IE8 and earlier */
}

.tp-caption.colored {
	color: #fff;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
}

.fullwidthbanner-container .colored::-moz-selection {background: #333;}
.fullwidthbanner-container .colored::selection {background: #333;} 

.tp-caption.video {
	box-shadow: 0 0 7px rgba(0,0,0,0.4);
}

/* Caption Button */

.tp-caption .button {
	background-image: none;
	margin: 0;
	font-size: 1.333em; /* 16px */
	padding: 0.312em 0.937em; /* 5px 15px /16px */
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	height: auto;
	letter-spacing: normal;
	line-height: normal !important;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.2) !important;
	
	-webkit-transition: color 0.2s ease, background-color 0.2s ease, border 0.2s ease, opacity 0.2s ease-in-out;
	-moz-transition: color 0.2s ease, background-color 0.2s ease, border 0.2s ease, opacity 0.2s ease-in-out;
	-ms-transition: color 0.2s ease, background-color 0.2s ease, border 0.2s ease, opacity 0.2s ease-in-out;
	-o-transition: color 0.2s ease, background-color 0.2s ease, border 0.2s ease, opacity 0.2s ease-in-out;
	transition: color 0.2s ease, background-color 0.2s ease, border 0.2s ease, opacity 0.2s ease-in-out;
}

.tp-caption .button.colored:hover,
.tp-caption .button.black {
	background-color: #1a1a1a;	
}
		
/* ---------------------------------------------------------------------- */
/* Navigation
/* ---------------------------------------------------------------------- */

/* Bullets */

.tp-bullets {
	background-color: rgba(0,0,0,0.75);
	padding: 10px;
	border-radius: 3px;
}

.tp-bullets.hidebullets { /* permanently display the navigation */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}										

.tp-bullets .bullet {
	margin-right: 5px;
	float: left;	
	width: 40px; 
	height: 6px; 
	background-color: #ccc;
	cursor: pointer;
}

.tp-bullets .bullet.last {
	margin: 0;
}

.tp-bullets .bullet.selected {
	cursor: default;
}

/* ---------------------------------------------------------------------- */
/* Arrows
/* ---------------------------------------------------------------------- */
.tp-leftarrow.default {
	background-color: rgba(0,0,0,0.6);
	background-image: url(../../imageset/slider/arrows.png);
	background-repeat: no-repeat;
	background-position: 15px center;
	width: 40px; 
	height: 50px;
	border-radius: 0 3px 3px 0;
}

.tp-rightarrow.default {
	background-color: rgba(0,0,0,0.6);
	background-image: url(../../imageset/slider/arrows.png);
	background-repeat: no-repeat;
	background-position: -35px center;
	width: 40px; 
	height: 50px;
	border-radius: 3px 0 0 3px;
}

.tparrows {
	-webkit-transition: color 0.2s ease, background-color 0.2s ease, border 0.2s ease, opacity 0.2s ease-in-out;
	-moz-transition: color 0.2s ease, background-color 0.2s ease, border 0.2s ease, opacity 0.2s ease-in-out;
	-ms-transition: color 0.2s ease, background-color 0.2s ease, border 0.2s ease, opacity 0.2s ease-in-out;
	-o-transition: color 0.2s ease, background-color 0.2s ease, border 0.2s ease, opacity 0.2s ease-in-out;
	transition: color 0.2s ease, background-color 0.2s ease, border 0.2s ease, opacity 0.2s ease-in-out;		
}