<!-- INCLUDE overall_header.html -->
<table width="100%"  border="0" cellspacing="0" cellpadding="4">
	<tr>
		<td>
			<table class="forumline" width="100%" cellspacing="0" cellpadding="4" border="0">
				<tr>					
					<td class="row2" colspan="2" align="left" style="padding-left: 10px; padding-right: 10px;"><br clear="all" />
						<!-- BEGIN bestuur -->
						<div>{bestuur.GUMBO_REALNAME} {bestuur.SIGNATURE}</div>
						<!-- END bestuur -->
					</td>				
				</tr>
			</table>
		</td>
	</tr>
</table>
<!-- INCLUDE overall_footer.html -->