<!-- INCLUDE overall_header.html -->
<!-- BEGIN taal -->
<center><H1>{taal.L_GUMBO_GROUP_NAME}</H1></center>
<table width="100%"  border="0" cellspacing="0" cellpadding="4">
	<tr>
		<td>
			<table class="forumline" width="100%" cellspacing="0" cellpadding="4" border="0">
				<tr>					
					<td class="row2" colspan="1" align="left" style="padding-left: 10px; padding-right: 10px;"><br clear="all" />
						<b>{taal.L_GUMBO_NICK}</b>							
					</td>
					<td class="row2" align="left" style="padding-left: 10px; padding-right: 10px;"><br clear="all" />
						<b>{taal.L_GUMBO_IRL}</b>
					</td>
					<td class="row2" align="left" style="padding-left: 10px; padding-right: 10px;"><br clear="all" />
						<b>{taal.LAST_VISIT}</b>
					</td>
					<td class="row2" align="left" style="padding-left: 10px; padding-right: 10px;"><br clear="all" />
						<b>{taal.LAST_VISIT}</b>
					</td>
				</tr>
				<!-- END taal -->
				<!-- BEGIN groep -->
				<tr>					
					<td class="row2" colspan="1" align="left" style="padding-left: 10px; padding-right: 10px;"><br clear="all" />
						{groep.A_USERNAME}							
					</td>
					<td class="row2" align="left" style="padding-left: 10px; padding-right: 10px;"><br clear="all" />
						{groep.GUMBO_REALNAME}
					</td>
					<td class="row2" align="left" style="padding-left: 10px; padding-right: 10px;"><br clear="all" />
						{groep.GROUP_NAME}
					</td>
					<td class="row2" align="left" style="padding-left: 10px; padding-right: 10px;"><br clear="all" />
						{groep.LAST_VISIT}
					</td>
				</tr>
				<!-- END groep -->
				<!-- BEGIN taal -->
			</table>
		</td>
	</tr>
</table>
<!-- END taal -->
<!-- INCLUDE overall_footer.html -->