<!-- INCLUDE overall_header.html -->

<!-- begin slider -->
    <section id="slider-home">
        <div class="fullwidthbanner-container jsonly">
            <div class="fullwidthbanner">
                <ul>
                    <!-- slide 1 -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="300">
                        <!-- main image -->
                        <img src="{T_IMAGESET_PATH}/test_imgs/2014-04-17 09.33.46.jpg" alt=""> 
                        
                        <!-- captions -->
                        <div class="tp-caption big colored sft"
                             data-x="0"
                             data-y="140"
                             data-speed="1000" 
                             data-start="1000" 
                             data-easing="easeOutBack">
                                Welkom op S.V. Gumbo Millennium.nl!
                        </div>
                        
                        <div class="tp-caption small black sft"
                             data-x="0"
                             data-y="187"
                             data-speed="1000"
                             data-start="1500"
                             data-easing="easeOutBack">
                                Dubbel L Dubbel N, Dubbel genieten!
                        </div>
                        
                        <div class="tp-caption sfb"
                             data-x="520"
                             data-y="0"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="easeOutExpo">
                                <img src="{T_IMAGESET_PATH}/Gumbo/Gumbo_logo_trans.png">
                        </div>
                        
                    </li>
                    
                    <!-- IF S_TOP_COLUMN -->    

                    <!-- [+] top module area -->
                        <!-- BEGIN modules_top -->
                            <!-- DEFINE $TEMPLATE_FILE = '{modules_top.TEMPLATE_FILE}' -->
                            <!-- DEFINE $IMAGE_SRC = '{modules_top.IMAGE_SRC}' -->
                            <!-- DEFINE $IMAGE_WIDTH = '{modules_top.IMAGE_WIDTH}' -->
                            <!-- DEFINE $IMAGE_HEIGHT = '{modules_top.IMAGE_HEIGHT}' -->
                            <!-- DEFINE $CUSTOM_CODE = '{modules_top.CODE}' -->
                            <!-- DEFINE $TITLE = '{modules_top.TITLE}' -->
                            <!-- DEFINE $MODULE_ID = '{modules_top.MODULE_ID}' -->
                            <!-- INCLUDE {$TEMPLATE_FILE} -->
                        <!-- END modules_top -->
                    <!-- [-] top module area -->

                    <!-- ENDIF -->
                </ul>       
           </div>
       </div>
    </section>
    <!-- end slider -->
           
    <!-- begin content -->
    <section id="content">
        <!-- begin featured content -->
        <section>
            <div class="content-featured">
                <div class="container">
                    <p>S.V. Gumbo Millennium, voor al het goede in duizend jaar!</p>
                </div>
            </div>
        </section>
     </section>
     <!-- begin content -->
     <!-- begin content -->
    <section id="content">
        <div class="container clearfix">
            <!-- begin filter -->
            <div id="filter" class="option-set jsonly">
                <span>Snel filter:</span>
                <ul>
                    <li><a class="selected" href="#" data-filter=".start">Home</a></li>
                    <!-- BEGIN modules_center -->
                        <li><a href="#" data-filter=".{modules_center.MODULE_ID}">{modules_center.TITLE}</a></li>
                    <!-- END modules_center -->
                </ul>
            </div>
            <!-- end filter -->
                

        <!-- [+] center module area -->
        <!-- IF S_CENTER_COLUMN -->
        <ul id="gallery" class="portfolio-grid  clearfix">      
            <!-- BEGIN modules_center -->
                <!-- DEFINE $TEMPLATE_FILE = '{modules_center.TEMPLATE_FILE}' -->
                <!-- DEFINE $IMAGE_SRC = '{modules_center.IMAGE_SRC}' -->
                <!-- DEFINE $IMAGE_WIDTH = '{modules_center.IMAGE_WIDTH}' -->
                <!-- DEFINE $IMAGE_HEIGHT = '{modules_center.IMAGE_HEIGHT}' -->
                <!-- DEFINE $CUSTOM_CODE = '{modules_center.CODE}' -->
                <!-- DEFINE $TITLE = '{modules_center.TITLE}' -->
                <!-- DEFINE $MODULE_ID = '{modules_center.MODULE_ID}' -->
                <!-- INCLUDE {$TEMPLATE_FILE} -->
            <!-- END modules_center -->
        </ul>
        <!-- ENDIF -->
        <!-- [-] center module area -->
              

    </div>    
    </section>
    <!-- end content -->
         

<!-- INCLUDE overall_footer.html -->