<!-- INCLUDE overall_header.html -->
	<!-- begin content -->
    <section id="content">
    	<div class="container clearfix">
    	<!-- begin main content -->
        <section id="main" class="blog-entry-list full-screen" on>

            

        <!-- BEGIN activity_list -->  
            <article class="entry clearfix">
            	<!-- IF .activity_list.imgs -->
	            	<!-- IF .activity_list.imgs > 1 -->
		            	<!-- begin entry slider -->
		                <div class="entry-slider">
		                    <div id="flexslider-portfolio-item" class="flex-container">
		                        <div class="flexslider">
		                            <ul class="slides">
		                            	<!-- BEGIN imgs -->
		                                <li><a class="entry-image image-block link-overlay" href="{activity_list.ACT_LINK}" title="{activity_list.NAME}"><span class="overlay"></span><img src="{activity_list.imgs.URL}" alt="{activity_list.NAME}"></a></li>
		                                <!-- END imgs -->
		                            </ul>
		                        </div>
		                    </div>
		                </div>	
		                <!-- end entry slider -->
	            	<!-- ELSE -->
		            	<!-- BEGIN imgs -->
		            		<a class="entry-image image-block link-overlay" href="{activity_list.ACT_LINK}" title="{activity_list.NAME}"><span class="overlay"></span><img src="{activity_list.imgs.URL}" alt="{activity_list.NAME}"></a>
		            	<!-- END imgs -->
	            	<!-- ENDIF -->
            	<!-- ENDIF -->
            	
            	<div class="entry-date">
                    <div class="entry-day">{activity_list.START_DAY}</div>
                    <div class="entry-month">{activity_list.START_MONTH}</div>   
                </div>
                <div class="entry-body  <!-- IF activity_list.READED == FALSE --> introbox <!-- ENDIF -->">
                    <h2 class="entry-title"><a href="{activity_list.ACT_LINK}">{activity_list.NAME}</a></h2>
                    <div class="entry-meta">
                    	<span class="author"><a href="{activity_list.ACT_LINK}">{activity_list.COMMISSION}</a></span> 
                        <span class="category"><a href="{activity_list.ACT_LINK}">{activity_list.START_DATE_TIME}</a></span>
                        <span class="multi-user"><a href="{activity_list.ACT_LINK}">{activity_list.ENROLLED}</a></span>
                        <!-- IF activity_list.READED == FALSE -->
                        	<img src="{T_IMAGESET_PATH}/ribbon-new.png" alt="New">
                        <!-- ENDIF -->
                    </div>
                    <div class="entry-content">
                        <p>{activity_list.PREVIEW}</p>
                        <div class="clear-20px"></div>
                        <a href="{activity_list.ACT_LINK}" class="button colored">{LANG_GO_TO_EVENT}</a>
                    </div>
                </div>
            </article>
        <!-- END activity_list -->
        
        <div class="infobox">
                <input type="hidden" name="act" value="{FORM_HIDDEN_ACT}" />
                <input type="hidden" name="sid" value="{FORM_HIDDEN_SID}" />
                <div class="infobox-inner">
                   <a href="{URL_ICAL}" class="button large right">{LANG_ICAL_URL}</a>
                    <div class="with-button">
                        <h2>{LANG_ICAL_TITLE}</h2>
                        <p>{LANG_ICAL_EXPLAIN}</p>
                        <a href="{LANG_ICAL_HOW_URL}">{LANG_ICAL_HOW}</a>
                    </div>
                </div> 
            </div>
            
        </section>
        <!-- end main content -->
    </div>    
    </section>
    <!-- end content --> 

<!-- INCLUDE overall_footer.html -->