<!-- IF S_IN_SEARCH_POPUP -->
<!-- You should retain this javascript in your own template! -->
<script type="text/javascript">
// <![CDATA[
function insert_user(user)
{
	opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value = ( opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value.length && opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.type == "textarea" ) ? opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value + "{SEPARATOR}\n" + user : user;
}

function insert_marked(users)
{
	if (typeof(users.length) == "undefined")
	{
		if (users.checked)
		{
			insert_user(users.value);
		}
	}
	else if (users.length > 0)
	{
		for (i = 0; i < users.length; i++)
		{
			if (users[i].checked)
			{
				insert_user(users[i].value);
			}
		}
	}

	self.close();
}

function select_user(object){
	var checkbox = jQuery(object).find("input[type='checkbox']");
	var arrow = jQuery(object).find(".arrow");
	var title = jQuery(object).find(".iconbox-title");
    
    if( !checkbox.prop("checked") ){
        checkbox.prop("checked",true);
        arrow.addClass('arrow-box-selected');
        title.addClass('iconbox-title-selected');
        jQuery(object).addClass('iconbox-selected');
    } else {
        checkbox.prop("checked",false);
        arrow.removeClass('arrow-box-selected');
        title.removeClass('iconbox-title-selected');
        jQuery(object).removeClass('iconbox-selected');
    }
}

function insert_single(user)
{
	opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value = user;
	self.close();
}
// ]]>
</script>
<script type="text/javascript" src="{T_SUPER_TEMPLATE_PATH}/forum_fn.js"></script>
<!-- ENDIF -->
<section>
<h2>{FIND_GROUP}</h2>

<form method="post" action="{S_MODE_ACTION}" id="search_memberlist" class="content-form">
<div class="one-third">

	<p>{FIND_GROUPNAME_EXPLAIN}</p>

	<dl>
		<dt><label for="groupname">{L_GROUPNAME}:</label></dt>
		<dd><input type="text" name="groupname" id="groupname" value="{GROUPNAME}" class="inputbox" /></dd>
	</dl>
	<dl>
		<dt><label for="sk" class="label3">{L_SORT_BY}:</label></dt>
		<dd><select name="sk" id="sk">{S_SORT_OPTIONS}</select> <select name="sd">{S_ORDER_SELECT}</select></dd>
	</dl>

</div>
<div class="clear"></div>
<div>
	<input type="reset" value="{L_RESET}" name="reset" class="button black" />&nbsp;
		<input type="submit" name="submit" value="{L_SEARCH}" class="button colored" />
		{S_FORM_TOKEN}
</div>

</form>
<section>
