<!-- IF S_IN_SEARCH_POPUP -->
<!-- You should retain this javascript in your own template! -->
<script type="text/javascript">
// <![CDATA[
function insert_user(user)
{
	opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value = ( opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value.length && opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.type == "textarea" ) ? opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value + "{SEPARATOR}\n" + user : user;
}

function insert_marked(users)
{
	if (typeof(users.length) == "undefined")
	{
		if (users.checked)
		{
			insert_user(users.value);
		}
	}
	else if (users.length > 0)
	{
		for (i = 0; i < users.length; i++)
		{
			if (users[i].checked)
			{
				insert_user(users[i].value);
			}
		}
	}

	self.close();
}

function insert_single(user)
{
	opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value = user;
	self.close();
}
// ]]>
</script>
<script type="text/javascript" src="{T_SUPER_TEMPLATE_PATH}/forum_fn.js"></script>
<!-- ENDIF -->

<h2 class="solo">{FIND_GROUP}</h2>

<form method="post" action="{S_MODE_ACTION}" id="search_memberlist">
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<p>{FIND_GROUPNAME_EXPLAIN}</p>

	<fieldset class="fields1 column1">
	<dl>
		<dt><label for="groupname">{L_GROUPNAME}:</label></dt>
		<dd><input type="text" name="groupname" id="groupname" value="{GROUPNAME}" class="inputbox" /></dd>
	</dl>
	<dl>
		<dt><label for="sk" class="label3">{L_SORT_BY}:</label></dt>
		<dd><select name="sk" id="sk">{S_SORT_OPTIONS}</select> <select name="sd">{S_ORDER_SELECT}</select></dd>
	</dl>
	</fieldset>

	<div class="clear"></div>

	<hr />

	<fieldset class="submit-buttons">
		<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp;
		<input type="submit" name="submit" value="{L_SEARCH}" class="button1" />
		{S_FORM_TOKEN}
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>

</form>
