<!-- INCLUDE overall_header.html -->

<!-- begin slider -->
    <section id="slider-home">
        <div class="fullwidthbanner-container jsonly">
            <div class="fullwidthbanner">
                <ul>
                    <!-- slide 1 -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="300">
                        <!-- main image -->
                        <img src="{T_IMAGESET_PATH}/slider/slides/1920x400/southern-alps-1920x400.png" alt=""> 
                        
                        <!-- captions -->
                        <div class="tp-caption big colored sft"
                             data-x="0"
                             data-y="131"
                             data-speed="1000" 
                             data-start="1000" 
                             data-easing="easeOutBack">
                                Welkom op de S.V. Gumbo Millennium.nl!
                        </div>
                        
                        <div class="tp-caption small black sft"
                             data-x="0"
                             data-y="178"
                             data-speed="1000"
                             data-start="1500"
                             data-easing="easeOutBack">
                                Dubbel L Dubbel N, Dubbel genieten!
                        </div>
						
						<div class="tp-caption sfb"
                             data-x="500"
                             data-y="0"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="easeOutExpo">
                                <img src="https://si0.twimg.com/profile_images/446848797/Gumbo.png">
                        </div>
                        
                        <div class="tp-caption sfb"
                             data-x="0"
                             data-y="236"
                             data-speed="1000"
                             data-start="2000"
                             data-easing="easeOutExpo">
                                <div id="filter" class="option-set jsonly"><a href="#gallery" data-filter=".news" class="button colored">Learn More</a></div>
                        </div>
                    </li>
                    
                    <!-- slide 2 -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="300">
                        <!-- main image -->
                        <img src="{T_IMAGESET_PATH}/slider/slides/1920x400/spring-1920x400.png" alt=""> 
                        
                        <!-- captions -->
						<div class="tp-caption sfb"
                             data-x="900"
                             data-y="101"
                             data-speed="500"
                             data-start="750"
                             data-easing="easeOutExpo">
                                <a href="portfolio.php" class="button colored">Event</a>
                        </div>  
						
                        <div class="tp-caption big black sfl"
                             data-x="0"
                             data-y="101"
                             data-speed="1000" 
                             data-start="1000" 
                             data-easing="easeOutBack">
                                Filmavond
                        </div>
                        
                        <div class="tp-caption small white sfr"
                             data-x="0"
                             data-y="148"
                             data-speed="1000"
                             data-start="1500"
                             data-easing="easeOutBack">
                                vertrekken we vanuit <span style="font-weight: bold"><span style="font-size: 150%; line-height: 116%;">plaza</span></span> naar lokaal X1.77.Deze keer gaan we Trollhunter.
								Iedereen is welkom en het is nog gratiskijken.
								een regel  efsefsefsefsef se
								een regel asfsdfsfsdfsdfs sf sfsefse
								een regel sefsefsfsefsef
                        </div>
						
						<div class="tp-caption sfb"
                             data-x="0"
                             data-y="290"
                             data-speed="1000"
                             data-start="2000"
                             data-easing="easeOutExpo">
                                <a href="portfolio.php" class="button black">Learn More</a>
                        </div>
                    </li>
                    
                    <!-- slide 3 -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="300">
                        <!-- main image -->
                        <img src="{T_IMAGESET_PATH}/slider/slides/1920x400/sunrise-1920x400.png" alt=""> 
                        
                        <!-- captions -->
                        <div class="tp-caption big colored sfr"
                             data-x="0"
                             data-y="131"
                             data-speed="1000" 
                             data-start="1000" 
                             data-easing="easeOutBack">
                                Play YouTube &amp; Vimeo Video
                        </div>
                        
                        <div class="tp-caption small black sfl"
                             data-x="0"
                             data-y="178"
                             data-speed="1000"
                             data-start="1500"
                             data-easing="easeOutBack">
                                Adding video to the slider is possible, too.
                        </div>
                        
                        <div class="tp-caption sfb"
                             data-x="0"
                             data-y="236"
                             data-speed="1000"
                             data-start="2000"
                             data-easing="easeOutExpo">
                                <a href="portfolio.php" class="button colored">Learn More</a>
                        </div>
                        
                        <div class="tp-caption video sfr"
                             data-x="480"
                             data-y="70"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="easeOutBack">
                                <iframe src="http://player.vimeo.com/video/58413545?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="460" height="259" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                        </div>
                    </li>
                </ul>		
           </div>
       </div>
    </section>
    <!-- end slider -->
           
    <!-- begin content -->
    <section id="content">
    	<!-- begin featured content -->
        <section>
            <div class="content-featured">
                <div class="container">
                    <p>Welkom op de website van gumbo millennium <br> Doe nu mee met de intro!</p>
                </div>
            </div>
		</section>
     </section>
	 <!-- begin content -->
     <!-- begin content -->
    <section id="content">
    	<div class="container clearfix">
    		<!-- begin filter -->
			<div id="filter" class="option-set jsonly">
				<span>Snel filter:</span>
				<ul>
					
					<li><a href="#" data-filter="*">Alles</a></li>
					<li><a class="selected" href="#" data-filter=".start">Home</a></li>
					<li><a href="#" data-filter=".news">Resent nieuws</a></li>
					<li><a href="#" data-filter=".events">Komende activiteiten</a></li>
					<li><a href="#" data-filter=".pictures">Fotos</a></li>
					<li><a href="#" data-filter=".topics">Populaire topics</a></li>
					<li><a href="#" data-filter=".twitter">Twitter</a></li>
				</ul>
			</div>
			<!-- end filter -->
				
			<!-- begin gallery -->
        <ul id="gallery" class="portfolio-grid  clearfix">      
			<!-- start news -->
            
           <li class="entry blog-entry-list one-half start news">
                <article class="clearfix">
					<a class="entry-image image-block link-overlay" href="blog-post-image.php" title="Post Title"><span class="overlay"></span><img src="{T_IMAGESET_PATH}/test_imgs/img1.jpg" alt=""></a>
					 <h2 class="entry-title"><a href="blog-post-image.php">Introductieweek Gumbo Millennium</a></h2>
					<blockquote class="speech-bubble">
						<div class="quote-content">
							<p>De introductieweek komt er weer aan!  
								Van 27 augustus t/m 31 augustus. We starten dinsdag om 13:00 uur. Dit sluit mooi aan op de introductie van de opleidingen ICT.
								<br>
								<br>
								Heb jij zin om je studiejaar leuk te beginnen, Zwolle te leren kennen en aankomende medestudenten te ontmoeten? Dan is het leuk als je je inschrijft!
								<br>
								<br>
								Voor maar €40,00 heb je een geweldige week.     
								<br>
								<br>
								Voor meer informatie en inschrijven kijk op:  <a href="http://intro-informatica.nl/">http://intro-informatica.nl/</a></p>
							<span class="quote-arrow"></span>
						</div>
						<div class="quote-meta author-male"><strong>RosiMoss</strong>, Bestuur<br>
							<div class="entry-meta">
								<span class="category"><a href="#">Nieuws, Openbaar</a></span>
								<span class="comments"><a href="#">4 Comments</a></span>
							</div>
						</div>
					</blockquote>
					<div class="arrow-box-hover"></div>
				</article>
            </li>
			
			<li class="entry blog-entry-list one-half news isotope-hidden" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(240px, 0px) scale(0.001, 0.001); opacity: 0;" >
                <article class="clearfix">
					 <h2 class="entry-title"><a href="blog-post-image.php">Nieuw GumboPlaza</a></h2>
					<blockquote class="speech-bubble">
						<div class="quote-content">
							<p>We krijgen een nieuwe plek. Namenlijk 1 deurtje opzij. Met meer ramen, directe toegang tot het balkon. Meer in het gangpad (exposure!) en minder buren waar wij last van kunnen hebben   
							<br><br>
							De NHL gaat donderdag de 4e hun biezen pakken en plaats maken voor ons. Wij moeten er echter die zelfde donderdag nog inzitten.
							<br><br>
							Dit vraagt om een mega-verhuis-operatie.
							<br><br>
							Meld je hieronder aan om donderdag de 4e vanaf 14h00 te komen helpen om plaza 1hokje opzij te verplaatsen!
							Gratis bier/fris voor de verhuizers is aanwezig.</p>
							<span class="quote-arrow"></span>
						</div>
						<div class="quote-meta author-male"><strong>Leo</strong>, Bestuur<br>
							<span class="category"><a href="#">Niews</a>, <a href="#">Openbaar</a></span>
							<span class="comments"><a href="#">10 Comments</a></span>
						</div>
					</blockquote>
					<div class="arrow-box-hover"></div>
				</article>
            </li>
			
			<li class="entry blog-entry-list one-half news isotope-hidden" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(240px, 0px) scale(0.001, 0.001); opacity: 0;">
                <article class="clearfix">
					 <h2 class="entry-title"><a href="blog-post-image.php">Gumbo-Badjassen te koop</a></h2>
					<blockquote class="speech-bubble">
						<div class="quote-content">
							<p>Ze zijn binnen, en ze moeten natuurlijk mee naar LHW! (en de Toga/badjassen party)
							<br>
							Ze zijn van hoge kwaliteit katoen, zwart, met grote gouden geborduurde letters op de rug.
							</p>
							<span class="quote-arrow"></span>
						</div>
						<div class="quote-meta author-male"><strong>Leo</strong>, Bestuur<br>
							<span class="category"><a href="#">Algemeen</a>, <a href="#">Alleen leden</a></span>
							<span class="comments"><a href="#">2 Comments</a></span>
						</div>
					</blockquote>
					<div class="arrow-box-hover"></div>
				</article>
            </li>
			
			<li class="entry blog-entry-list one-half news isotope-hidden" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(240px, 0px) scale(0.001, 0.001); opacity: 0;">
                <article class="clearfix">
					<a class="entry-image image-block link-overlay" href="blog-post-image.php" title="Post Title"><span class="overlay"></span><img src="{T_IMAGESET_PATH}/test_imgs/792361_10151297698357496_169961574_o.jpg" alt=""></a>
					 <h2 class="entry-title"><a href="blog-post-image.php">Koninginnenach ZHTC</a></h2>
					<blockquote class="speech-bubble">
						<div class="quote-content">
							<p>
							Vanaf 17:00 uur is er een barbecue, rond 19:30 gaan we starten met de 90'ties quiz en vanaf 21:00 uur wisselen de ninetiesnummers elkaar af, dus de grootste happyhardcore hits afgewisseld met boy- en girlbands en rock en grunge.
							<br>
							Voor meer informatie zie ook</p>
							<span class="quote-arrow"></span>
						</div>
						<div class="quote-meta author-male"><strong>emileuitapeldoorn</strong><br>
							<span class="category"><a href="#">Studenten vereningen</a>, <a href="#">Openbaar</a></span>
							<span class="comments"><a href="#">1 Comment</a></span>
						</div>
					</blockquote>
					<div class="arrow-box-hover"></div>
				</article>
            </li>
				
			<!-- end news -->
			
			<!-- begin events -->		
			<li class="entry blog-entry-list one-half events start">
                <article class="clearfix">
					<a class="entry-image image-block link-overlay" href="blog-post-image.php" title="Post Title"><span class="overlay"></span><img src="{T_IMAGESET_PATH}/test_imgs/429984_491666247568807_400593166_n.jpg" alt=""></a>
					<div class="entry-date">
						<div class="entry-day">22</div>
						<div class="entry-month">Jun</div>    
					</div>
					<div class="entry-body">
						<h2 class="entry-title"><a href="blog-post-image.php">Koninginnenach ZHTC</a></h2>	
						<div class="entry-content">
							<p>Hoe kan een jaar beter eindigen dan met een grote barbecue op T5.
							<br>
							Voor de genen die hier niet mee bekend zijn:<br>
							Dit is niet zo maar een BBQ, maar echt een grootschalige. <br>
							Het vlees wordt aan geleverd door slagerij Mekers. Je leest het goed, geen dievrieshamburgers voor deze BBQ. <br>
							Hierbij zullen ook de XXL Frikadellen weer aanwezig zijn.<br>
							Net als voorgaande jaren is het drinken (fris, wijn en bier) volledig bij de prijs inbegrepen (gratis)!<br>
							<br>
							Uiterlijke in- en uit-schrijf datum is 16-6-2013. (i.v.m. bestelling van het vlees)</p>
						</div>
						<div class="entry-meta">
							<span class="author"><a href="#">Activiteiten commissie</a></span> 
							<span class="category"><a href="#">Acitiviteit, Openbaar</a></span>
							<span class="comments"><a href="#">10 Comments</a></span>
						</div>
					</div>
					<div class="arrow-box-hover"></div>	
				</article>
            </li>
			
			
			<li class="entry blog-entry-list one-half events isotope-hidden" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(240px, 0px) scale(0.001, 0.001); opacity: 0;">
                <article class="clearfix">
					<a class="entry-image image-block link-overlay" href="blog-post-image.php" title="Post Title"><span class="overlay"></span><img src="{T_IMAGESET_PATH}/test_imgs/792361_10151297698357496_169961574_o.jpg" alt=""></a>
					<div class="entry-date">
						<div class="entry-day">11</div>
						<div class="entry-month">Mar</div>   
					</div>
					<div class="entry-body">
						<h2 class="entry-title"><a href="blog-post-image.php">Koninginnenach ZHTC</a></h2>
						
						<div class="entry-content">
							<p>
							Vanaf 17:00 uur is er een barbecue, rond 19:30 gaan we starten met de 90'ties quiz en vanaf 21:00 uur wisselen de ninetiesnummers elkaar af, dus de grootste happyhardcore hits afgewisseld met boy- en girlbands en rock en grunge.
							<br>
							Voor meer informatie zie ook</p>
						</div>
					</div>
					<div class="entry-meta">
							<span class="author"><a href="#">emileuitapeldoorn</a></span> 
							<span class="category"><a href="#">Studenten vereningen</a>, <a href="#">Openbaar</a></span>
							<span class="comments"><a href="#">1 Comment</a></span>
						</div>
					<div class="arrow-box-hover"></div>	
				</article>
            </li>
			<!-- end events -->
			<!-- begin poll -->
			<li class="entry one-fourth start">
                <section>
						<div class="arrowbox arrowbox-first">
							<h2 class="arrowbox-title">Poll
								<span class="arrowbox-title-arrow-front"></span>
							</h2>
							<p>Our process begins with a careful planning of each project:</p>
							<ul class="green-arrow">
								<li><strong>Requirements analysis</strong></li>
								<li><strong>Project charter</strong></li>
								<li><strong>Site map</strong></li>
							</ul>
						</div>
					<div class="clear"></div>
				</section>
            </li>
			<!-- end poll -->
			<!-- begin last posts -->
			<li class="entry one-fourth start">
                <section>
						<div class="arrowbox arrowbox-first">
							<h2 class="arrowbox-title">Latest posts
								<span class="arrowbox-title-arrow-front"></span>
							</h2>
							<p>Our process begins with a careful planning of each project:</p>
							<ul class="arrow">
								<li><strong>Requirements analysis</strong></li>
								<li><strong>Project charter</strong></li>
								<li><strong>Site map</strong></li>
							</ul>
						</div>
					<div class="clear"></div>
				</section>
            </li>
			<!-- end last posts -->
            <!-- begin resent posts -->
			<li class="entry one-fourth start">
                <section>
						<div class="arrowbox arrowbox-first">
							<h2 class="arrowbox-title">resent posts
								<span class="arrowbox-title-arrow-front"></span>
							</h2>
							<p>Our process begins with a careful planning of each project:</p>
							<ul class="arrow">
								<li><strong>Requirements analysis</strong></li>
								<li><strong>Project charter</strong></li>
								<li><strong>Site map</strong></li>
							</ul>
						</div>
					<div class="clear"></div>
				</section>
            </li>
			<!-- end resent posts -->
            <!-- begin twitter -->
			<li class="entry one-fourth start">
                <section>
						<div class="arrowbox arrowbox-first">
							<h2 class="arrowbox-title">Latest Tweets
								<span class="arrowbox-title-arrow-front"></span>
							</h2>
							<p>Our process begins with a careful planning of each project:</p>
							<ul class="arrow">
								<li><strong>Requirements analysis</strong></li>
								<li><strong>Project charter</strong></li>
								<li><strong>Site map</strong></li>
							</ul>
						</div>
					<div class="clear"></div>
				</section>
            </li>
			<!-- end twitter -->
			<!-- Begin gumbo cam -->
			<li class="entry one-half start">
                <section>
				<div class="tabs">
						<ul class="tabs-nav clearfix">
							<li><a href="#tab-1">Plaza cam</a></li>
							<li><a href="#tab-2">Koffie cam</a></li>
						</ul>
											
						<div id="tab-1" class="tab">
							<a class="entry-image inner-caption link-overlay lightbox" href="http://www.gumbocam.nl/capture1.jpg?1379583005505" title="Gumbo Millennium Plaza webcam">
								<span class="overlay"></span>
								<img src="http://www.gumbocam.nl/capture1.jpg?1379583005505" alt="">
								<div><p>De thuis basis van alle leden van Gumbo Millennium</p></div>
							</a>
						</div>
						
						<div id="tab-2" class="tab">
							<a class="entry-image inner-caption link-overlay lightbox" href="http://www.gumbocam.nl/capture2.jpg?1379583218583" title="Gumbo Millennium koffie webcam">
								<span class="overlay"></span>
								<img src="http://www.gumbocam.nl/capture2.jpg?1379583218583" alt="">
								<div><p>Hoeveel koffie is er nog?</p></div>
							</a>
						</div>
					</div>
			</section>
            </li>
			<!-- end gumbo cam -->	
			<!-- Begin gumbo cam -->
			<li class="entry one-half start">
                <section>
					<h2>Poll</h2>
					dit is de poll
					<p></p>
				</section>
            </li>
			<!-- end gumbo cam -->
			<!-- Begin fotos-->
			<li class="entry full-screen start pictures">
				<section id="content">
					<div class="container clearfix">
						<section>
							<h2>Images</h2>
							<div class="one-fourth">
								<h3>Simple</h3>
								<div class="entry-image">
									<img src="{T_IMAGESET_PATH}/entries/220x140/canoes-on-moraine-lake-220x140.png" alt="" title="Image Title">
								</div>
							</div>
							
							<div class="one-fourth">
								<h3>With Caption</h3>
								<div class="caption">
									<div class="entry-image"><img src="{T_IMAGESET_PATH}/entries/220x140/spring-220x140.png" alt="" title="Image Title"></div>
									<p class="caption-text">Caption Text</p>
								</div>
							</div>
							
							<div class="one-fourth">
								<h3>With Lightbox</h3>
								<a class="entry-image lightbox" href="{T_IMAGESET_PATH}/entries/full-size/sailing.jpg" title="Image Title"><span class="overlay zoom"></span><img src="{T_IMAGESET_PATH}/entries/220x140/sailing-220x140.png" alt=""></a>
							</div>
							
							<div class="one-fourth column-last">
								<h3>With Lightbox Gallery</h3>
								<div>
									<a class="entry-image lightbox" rel="sunrise" href="{T_IMAGESET_PATH}/entries/full-size/sunrise.jpg" title="Project Title"><span class="overlay zoom"></span><img src="{T_IMAGESET_PATH}/entries/220x140/sunrise-220x140.png" alt=""></a>  
									<a class="entry-image lightbox invisible" rel="sunrise" href="{T_IMAGESET_PATH}/entries/full-size/southern-alps.jpg" title="Project Title"><span class="overlay zoom"></span><img src="{T_IMAGESET_PATH}/entries/220x140/southern-alps-220x140.png" alt=""></a>
									<a class="entry-image lightbox invisible" rel="sunrise" href="{T_IMAGESET_PATH}/entries/full-size/canoes-on-moraine-lake.jpg" title="Project Title"><span class="overlay zoom"></span><img src="{T_IMAGESET_PATH}/entries/220x140/canoes-on-moraine-lake-220x140.png" alt=""></a>
								</div>
							</div>
							<div class="clear"></div>
							<div class="one-fourth">
								<h3>With Link</h3>
								<a class="entry-image link-overlay" href="#" title="Image Title">
									<span class="overlay"></span>
									<img src="{T_IMAGESET_PATH}/entries/220x140/sailing-220x140.png" alt="">
								</a>
							</div>
							<div class="one-fourth">
								<h3>With Caption &amp; Link</h3>
								<div class="caption">
									<a class="entry-image link-overlay" href="#" title="Image Title">
										<span class="overlay"></span>
										<img src="{T_IMAGESET_PATH}/entries/220x140/grand-canyon-aerials-220x140.png" alt="">
									</a>
									<p class="caption-text">Caption Text</p>
								</div>
							</div>
							<div class="one-fourth">
								<h3>With Inner Caption</h3>
								<a class="entry-image inner-caption" href="#" title="Image Title">
									<img src="{T_IMAGESET_PATH}/entries/220x140/the-golden-sea-bali-220x140.png" alt="">
									<div><p>Image with Inner Caption</p></div>
								</a>
							</div>
							<div class="one-fourth column-last">
								<h3>With Inner Caption &amp; Link</h3>
								<a class="entry-image inner-caption link-overlay" href="#" title="Image Title">
									<span class="overlay"></span>
									<img src="{T_IMAGESET_PATH}/entries/220x140/canoes-on-moraine-lake-220x140.png" alt="">
									<div><p>Image with Inner Caption &amp; Link</p></div>
								</a>
							</div>
						</section>
					</div>    
				</section>
			</li>
			
			<!-- end fotos-->
            
        </ul>
        <!-- end gallery -->
    </div>    
    </section>
    <!-- end content -->
    	 

<!-- INCLUDE overall_footer.html -->