<!-- INCLUDE mcp_header.html -->

<form method="post" id="mcp" class="content-form" action="{U_POST_ACTION}">

<h2>{L_WARN_USER}</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<h3>{USERNAME_FULL}</h3>

	<div>
		<div class="column1">
			<!-- IF AVATAR_IMG --><div>{AVATAR_IMG}</div><!-- ENDIF -->
		</div>

		<div class="column2">
			<dl class="details">
				<!-- IF RANK_TITLE --><dt><strong>{L_RANK}:</strong> {RANK_TITLE}</td><!-- ENDIF -->
				<!-- IF RANK_IMG --><dt><strong><!-- IF RANK_TITLE -->&nbsp;<!-- ELSE -->{L_RANK}:<!-- ENDIF --></strong>{RANK_IMG}</td><!-- ENDIF -->
				<dt><strong>{L_JOINED}:</strong> {JOINED}</td>
				<dt><strong>{L_TOTAL_POSTS}:</strong>{POSTS}</td>
				<dt><strong>{L_WARNINGS}: </strong> {WARNINGS}</td>
			</dl>
		</div>
	</div>

	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<h3>{L_ADD_WARNING}</h3>
	<p>{L_ADD_WARNING_EXPLAIN}</p>

	<fieldset>
		<textarea name="warning" id="warning" class="inputbox" cols="40" rows="3"></textarea>
		<!-- IF S_CAN_NOTIFY -->
		<br /><br />
		<dl class="panel">
			<dt>&nbsp;</dt>
			<dd><label><input type="checkbox" name="notify_user" checked="checked" /> {L_NOTIFY_USER_WARN}</label></dd>
		</dl>
		<!-- ENDIF -->
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>

<fieldset class="submit-buttons">
	<input type="reset" value="{L_RESET}" name="reset" class="button green" />&nbsp; 
	<input type="submit" name="action[add_warning]" value="{L_SUBMIT}" class="button green" />
	{S_FORM_TOKEN}
</fieldset>
</form>

<!-- INCLUDE mcp_footer.html -->