<!-- INCLUDE overall_header.html -->

<h2 class="container clearfix">{L_MCP}</h2>

<div class="panel bg3">
	<div class="inner container clearfix"><span class="corners-top"><span></span></span>

	<div style="width: 100%;" >

	<div id="cp-menu">
		<div id="filter" class="container clearfix" style="margin-top:1rem;">
		<div id="navigation">
			<ul>
			<!-- BEGIN l_block1 -->
			<!-- IF l_block1.S_SELECTED -->
				<!-- BEGIN l_block2 -->
				<!-- IF l_block1.l_block2.S_SELECTED -->
				<button id="active-subsection" href="{l_block1.l_block2.U_TITLE}"  class="button colored selected">{l_block1.l_block2.L_TITLE}<!-- IF l_block1.l_block2.ADD_ITEM --> ({l_block1.l_block2.ADD_ITEM})<!-- ENDIF --></button>
				<!-- ELSE -->
				<button href="{l_block1.l_block2.U_TITLE}" class="button black">{l_block1.l_block2.L_TITLE}<!-- IF l_block1.l_block2.ADD_ITEM --> ({l_block1.l_block2.ADD_ITEM})<!-- ENDIF --></button>
				<!-- ENDIF -->
				<!-- END l_block2 -->
			<!-- ENDIF -->
			<!-- END l_block1 -->
			</ul>
		</div>
		</div>
	</div>

	<div id="cp-main" class="mcp-main">
		<!-- IF MESSAGE -->
		<div class="content">
			<h2>{L_MESSAGE}</h2>
			<p class="error">{MESSAGE}</p>
			<p><!-- BEGIN return_links -->{return_links.MESSAGE_LINK}<br /><br /><!-- END return_links --></p>
		</div>
		<!-- ENDIF -->

		<!-- IF CONFIRM_MESSAGE -->
			<form id="confirm" method="post" action="{S_CONFIRM_ACTION}"{S_FORM_ENCTYPE}>

			<div class="content">
				<h2>{L_PLEASE_CONFIRM}</h2>
				<p>{CONFIRM_MESSAGE}</p>
			
				<fieldset class="submit-buttons">
					{S_HIDDEN_FIELDS}<input class="button1" type="submit" name="submit" value="{L_YES}" />&nbsp; 
					<input class="button2" type="cancel" value="{L_NO}" />
				</fieldset>
			</div>

			</form>
		<!-- ENDIF -->
