<div class="container clearfix">
	
    <!-- begin clients -->
        <section>
        	<h2>Our Sponsors</h2>
            <ul class="clients clearfix">
                <center><a href="http://bit.ly/OGDgumbo" class="postlink"><img src="http://gumbo-millennium.nl/site/images/banner/banner_ogd.png" alt="Image"></a>
				</a>
				</center>
            </ul>
        </section>
        <!-- end clients --> 
		</div>
    <!-- begin footer -->
	<footer id="footer">
    	<!-- begin footer featured -->
        <div id="footer-featured">
        	<div class="container clearfix">
                <div class="three-fourths">
                    <h1><a href="#" title="Download (ZIP File) Questionnaire"><strong>Overtuigd</strong>? Wordt nu  <strong>lid</strong>.</a></h1>
                    <p>Our process begins with knowing you and your visitors inside out. Download, complete and return our <a href="#" title="Download (ZIP File) Questionnaire">questionnaire</a>. We will get back to you with a quotation within a week.</p>
                </div>
                <div class="one-fourth column-last">
                    <a class="entry-image" href="#" title="Download (ZIP File) Questionnaire"><img src="{T_IMAGESET_PATH}/mail.png" alt="Mail"></a>
                </div>
            </div>
        </div>
        <!-- end footer featured -->	
        
        <!-- begin footer top -->
        <div id="footer-top">
        	<div class="container clearfix">
                <div class="one-fourth">
                    <div class="widget">
                         <h3>Who is online</h3>
                    <p>In total there is 1 user online :: 1 registered, 0 hidden and 0 guests (based on users active over the past 5 minutes)
					Most users ever online was 17 on Tue 12 Mar 2013, 05:54
					</p><p>
					Registered users: nyxus</p>
                    </div>
                </div>
                <div class="one-fourth">
                    <div class="widget twitter-widget">
                        <h3>Birthdays</h3>
                        <p>Geen verjaardagen</p>
                    </div>
                </div>
                <div class="one-fourth">
                    <div class="widget newsletter">
                        <h3>Calender</h3>
                        <table width="100%" cellspacing="1">
		<tbody><tr>
			<td align="left" colspan="2"><a href="./portal.php?m25=-1&amp;sid=48a50c861db11d7bd7e14f53f3486070#minical25"><img src="./styles/prosilver/theme/images/portal/cal_icon_left_arrow.png" title="Previous month" height="16" width="16" alt="&lt;&lt;"></a></td>
			<td colspan="3" align="center"><span class="genmed">Sep. 2013</span></td>
			<td align="right" colspan="2"><a href="./portal.php?m25=1&amp;sid=48a50c861db11d7bd7e14f53f3486070#minical25"><img src="./styles/prosilver/theme/images/portal/cal_icon_right_arrow.png" title="next month" height="16" width="16" alt="&gt;&gt;"></a></td>
		</tr>
		<tr>
			
				<td style="width: 14%;"><span class="gensmall" style="font-weight: bold"><span style="color: #FF0000;">Su</span></span></td>
			
				<td style="width: 14%;"><span class="gensmall" style="font-weight: bold">Mo</span></td>
				<td style="width: 14%;"><span class="gensmall" style="font-weight: bold">Tu</span></td>
				<td style="width: 14%;"><span class="gensmall" style="font-weight: bold">We</span></td>
				<td style="width: 14%;"><span class="gensmall" style="font-weight: bold">Th</span></td>
				<td style="width: 14%;"><span class="gensmall" style="font-weight: bold">Fr</span></td>
				<td style="width: 14%;"><span class="gensmall" style="font-weight: bold">Sa</span></td>
			
		</tr>
		
		<tr>
			
				<td class="row1" align="center"><span class="gensmall"><span style="color: #FF0000;">1</span></span></td>
			
				<td class="row1" align="center"><span class="gensmall">2</span></td>
			
				<td class="row1" align="center"><span class="gensmall">3</span></td>
			
				<td class="row1" align="center"><span class="gensmall">4</span></td>
			
				<td class="row1" align="center"><span class="gensmall">5</span></td>
			
				<td class="row1" align="center"><span class="gensmall"><span style="font-weight: bold; color: #000000;">6</span></span></td>
			
				<td class="row1" align="center"><span class="gensmall">7</span></td>
			
		</tr>
		
		<tr>
			
				<td class="row1" align="center"><span class="gensmall"><span style="color: #FF0000;">8</span></span></td>
			
				<td class="row1" align="center"><span class="gensmall">9</span></td>
			
				<td class="row1" align="center"><span class="gensmall">10</span></td>
			
				<td class="row1" align="center"><span class="gensmall">11</span></td>
			
				<td class="row1" align="center"><span class="gensmall">12</span></td>
			
				<td class="row1" align="center"><span class="gensmall">13</span></td>
			
				<td class="row1" align="center"><span class="gensmall">14</span></td>
			
		</tr>
		
		<tr>
			
				<td class="row1" align="center"><span class="gensmall"><span style="color: #FF0000;">15</span></span></td>
			
				<td class="row1" align="center"><span class="gensmall">16</span></td>
			
				<td class="row1" align="center"><span class="gensmall">17</span></td>
			
				<td class="row1" align="center"><span class="gensmall">18</span></td>
			
				<td class="row1" align="center"><span class="gensmall">19</span></td>
			
				<td class="row1" align="center"><span class="gensmall">20</span></td>
			
				<td class="row1" align="center"><span class="gensmall">21</span></td>
			
		</tr>
		
		<tr>
			
				<td class="row1" align="center"><span class="gensmall"><span style="color: #FF0000;">22</span></span></td>
			
				<td class="row1" align="center"><span class="gensmall">23</span></td>
			
				<td class="row1" align="center"><span class="gensmall">24</span></td>
			
				<td class="row1" align="center"><span class="gensmall">25</span></td>
			
				<td class="row1" align="center"><span class="gensmall">26</span></td>
			
				<td class="row1" align="center"><span class="gensmall">27</span></td>
			
				<td class="row1" align="center"><span class="gensmall">28</span></td>
			
		</tr>
		
		<tr>
			
				<td class="row1" align="center"><span class="gensmall"><span style="color: #FF0000;">29</span></span></td>
			
				<td class="row1" align="center"><span class="gensmall">30</span></td>
			
		</tr>
		
	</tbody></table>
                    </div>
                </div>
                <div class="one-fourth column-last">
                    <div class="widget contact-info">
                        <h3>Contact Info</h3>
                        <div>
                            <p class="address"><strong>Adres:</strong> Campus 2-6, Zwolle</p>
                            <p class="phone"><strong>Phone:</strong> (123) 456-7890</p>
                            <p class="fax"><strong>Fax:</strong> (123) 456-7890</p>
                            <p class="email"><strong>Email:</strong> <a href="mailto:info@gumbo-millennium.nl">info@gumbo-millennium.nl</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end footer top -->

        <!-- begin footer bottom -->
        <div id="footer-bottom">
        	<div class="container clearfix">
                <div class="one-half">
                    <p>Copyright &copy; 2013 Gumbo Millennium. Created by <a href="http://themeforest.net/user/ixtendo">Ixtendo</a>.</p>
                </div>
        
                <div class="one-half column-last">
                    <ul class="social-links">
                        <li class="twitter"><a href="#" title="Twitter" target="_blank">Twitter</a></li>
                        <li class="facebook"><a href="#" title="Facebook" target="_blank">Facebook</a></li>
                        <li class="google-plus"><a href="#" title="Google+" target="_blank">Google+</a></li>
                        <li class="linkedin"><a href="#" title="LinkedIn" target="_blank">LinkedIn</a></li>
                        <li class="vimeo"><a href="#" title="Vimeo" target="_blank">Vimeo</a></li>
                        <li class="youtube"><a href="#" title="YouTube" target="_blank">YouTube</a></li>
                        <li class="skype"><a href="#" title="Skype" target="_blank">Skype</a></li>
                        <li class="digg"><a href="#" title="Digg" target="_blank">Digg</a></li>
                        <li class="delicious"><a href="#" title="Delicious" target="_blank">Delicious</a></li>
                        <li class="tumbler"><a href="#" title="Tumbler" target="_blank">Tumbler</a></li>
                        <li class="dribbble"><a href="#" title="Dribbble" target="_blank">Dribbble</a></li>
                        <li class="stumbleupon"><a href="#" title="StumbleUpon" target="_blank">StumbleUpon</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end footer bottom -->
	</footer>
	<!-- end footer -->  
</div>
<!-- end container -->
            </div><!-- /scroller-inner -->
        </div><!-- /scroller -->

    </div><!-- /pusher -->
</div><!-- /menu-container -->
<script>
    new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ) );
</script>
</body>
</html>