<!-- INCLUDE overall_header.html -->
	
	<!-- begin content -->
	<section id="content">
		<div class="container clearfix">
			<!-- begin sociëteit -->
			<section>
				<!-- BEGIN albums -->
				   <h2>{albums.YEAR}</h2> 
			        <ul class="project-carousel project-list">
			        	<!-- BEGIN album -->
			            <li class="entry">
			                <a class="entry-image lightbox" href="{albums.album.TUMBNAIL_URL}" title="{albums.album.TITLE}">
			                	<span class="overlay zoom"></span><img src="{albums.album.TUMBNAIL_URL}" alt="{albums.album.TITLE}">
			            	</a>
			                <a class="entry-meta" href="{albums.album.URL}">
			                    <h4 class="entry-title">{albums.album.TITLE}</h4>
			                    <div class="entry-content">
			                        <p></p>
			                    </div>
			                    <div class="arrow-box-hover"></div>
			                </a>
			            </li>
			            <!-- END album -->
			        </ul>
				<!-- END albums -->
			</section>
			<!-- end sociëteit -->
		</div>












	</section>
	<!-- end content -->

<!-- INCLUDE overall_footer.html -->