<!-- INCLUDE overall_header.html -->
	
	<!-- begin content -->
	<section id="content">
		<div class="container clearfix">
			<section class="three-fourths">
				<!-- IF not  PREVIEW_VALID -->
				<div class="notification-box notification-box-error">
                    <p>{PREVIEW_INVALID_TEXT}</p>
                    <a href="#" class="notification-close notification-close-error">x</a>
                </div>
                <!-- ENDIF -->
				<!-- BEGIN albums_page -->
			        <section>
				   	<h2>{albums_page.YEAR}  ({albums_page.ALBUMS_COUNT} {L_ALBUMS})</h2> 
			        	<!-- BEGIN album -->
			        	<div class="one-fourth">
			                <a class="entry-image inner-caption link-overlay" href="{albums_page.album.URL}" title="{albums_page.album.TITLE}">
			                    <span class="overlay"></span>
			                    <img src="{albums_page.album.TUMBNAIL_URL}" alt="{albums_page.album.TITLE}">
			                    <div><p>{albums_page.album.TITLE}</p></div>
			                </a>
			            </div>
			            <!-- END album -->
			        </section>
			        <div class="clear"></div>
				<!-- END albums_page -->
			</section>
			<!-- begin sidebar -->
	        <aside id="sidebar" class="one-fourth column-last">
	            <div class="widget">    
	            	<h2>{L_OTHER_ALBUMS}</h2>
	              	<div class="accordion">
				        <!-- BEGIN albums_side -->
				        <div>
				            <span class="accordion-title">{albums_side.YEAR} ({albums_side.ALBUMS_COUNT} {L_ALBUMS})</span>
				            <div class="accordion-inner">
				            	<a href="{albums_side.PREVIEW_URL}" class="button colored">{L_PREVIEW_ALBUM} {albums_side.YEAR}</a>
				            	<hr>
				            	<ul class="arrow">
				            	<!-- BEGIN album -->
				            		<li>
				                		<a class="entry-meta" href="{albums_side.album.URL}">{albums_side.album.TITLE}</a>
				            		</li>
				            		<!-- END album -->
				                </ul>
				            </div>
				        </div>
				        <!-- END albums_side -->
				    </div>
	            </div>
	        </aside>
	        <!-- end sidebar -->
		</div>
	</section>
	<!-- end content -->

<!-- INCLUDE overall_footer.html -->
