<!-- INCLUDE overall_header.html -->
	
	<!-- begin content -->
	<section id="content">
		<div class="container clearfix">
			<section>
				<div class="one-fourth">

                    <div class="iconbox icon-left">
                        <a>
                            <h2 class="iconbox-title">Photo's</h2>
                            <p>123</p>
                            <div class="arrow-box-hover"></div>
                        </a>
                    </div>
                </div>
                <div class="clear"></div>
		        <section>
					<!-- BEGIN fotos -->
				   		
				   <div class="one-fourth">
				   		<div class="iconbox icon-left">
                        
                            <a class="entry-image lightbox" data-fancybox-group="{ALBUMTITLE}" href="{fotos.SRC}" title="{fotos.TITLE}"><span class="overlay zoom"></span><img src="{fotos.SRC_THUMBNAIL}" alt="{fotos.TITLE}"></a>
                            <div class="arrow-box-hover"></div>
                        
                    </div>
                    </div>

					<!-- END fotos -->
		        </section>
		        <div class="clear"></div>
			</section>
			
		</div>
	</section>
	<!-- end content -->

<!-- INCLUDE overall_footer.html -->
