<!-- INCLUDE overall_header.html -->
	
	<!-- begin content -->
	<section id="content">
		<div class="container clearfix">
			<!-- begin sociëteit -->
			<section>
				<div class="one-half">
					<div class="entry-slider">
						<div id="flexslider-about-us" class="flex-container">
							<div class="flexslider">
								<ul class="slides">
									<li>
										<img src="http://gumbo-millennium.nl/site/images/static/hvp.gif" alt="Our Company" title="Het Vliegende Paard">
									</li>
									<li>
										<img src="http://gumbo-millennium.nl/site/images/static/paard.jpg" alt="Our Team" title="Het Vliegende Paard">
									</li> 
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="one-half column-last">
					<h2>Het Vliegende Paard</h2>
					<p>
						{MESSAGE_TEXT}
					</p>
				</div>
			</section>
			<!-- end sociëteit -->
		</div>
	</section>
	<!-- end content -->

<!-- INCLUDE overall_footer.html -->