<!-- INCLUDE overall_header.html -->
	
	<!-- begin content -->
	<section id="content">
		<div class="container clearfix">
			<!-- begin sponsors -->
			<section>
				<!-- BEGIN sponsors -->
				<div class="one-third sponsor<!-- IF (sponsors.S_ROW_COUNT + 1) % 3 == 0 --> column-last<!-- ENDIF -->">
					<a<!-- IF sponsors.LINK --> href="{sponsors.LINK}"<!-- ENDIF -->>
						<img src="{sponsors.IMAGE}" style="max-height: 200px">
					</a>
				</div>
				<!-- END sponsors -->
			</section>
			<!-- end sponsors -->
		</div>
	</section>
	<!-- end content -->

<!-- INCLUDE overall_footer.html -->
